body{
    background-color: #EFFFFD;
}
hr{
    border-style: dotted none none;
    border-color: #05585f;
    border-width: 6px;
    width: 8%;
    
    /* it can also be done like this 
       border-style: none;
       border-top-style: dottet;
    */

}

h3{
    color: #41AEA9;
}

h1{
    color: red;
}

